node_modules/

dist/
build/
out/
bin/
obj/
*.tsbuildinfo

.env
.env.local
.env.*.local
*.env
!/.env.example
.env.example

.DS_Store
.idea/
.vscode/
*.user
*.suo

.vite
*.local

__pycache__/
*.pyc
.pytest_cache/

.pio/
credentials.ini
**/secrets.h

*.log
logs/
tmp/

openapi.json
docs/